<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soundanalyser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>

    <application
        android:theme="@android:style/Theme.NoTitleBar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.example.soundanalyser.SoundAnalyserActivity"
            android:label="@string/title_activity_sound_analyser"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.soundanalyser.PreferencesActivity"
            android:label="@string/settings_app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.soundanalyser.Recording_Length"
            android:label="@string/title_activity_recording__length" >
        </activity>
        <activity
            android:name="com.example.soundanalyser.History"
            android:label="@string/title_activity_history" >
        </activity>
    </application>

</manifest>